mixin banner()
  .c-banner 

    .c-banner__wrapper
      .c-banner__content 
        h1.c-banner__title Fresh Life
        span.c-banner__description Sed do eiusmod tempor incididunt ut labore et <br/>dolore magna aliqua. Ut enim ad minim veniam,<br/> quis nostrud exercitation ullamco.
      .c-banner__button 
        +button({
          text:'Get Free Now'
        })
