mixin contact()
  section.c-contucts(id="contact")
    .c-container.wrapper 
      .c-contucts__description 
        h2.c-title Contact
        p For new projects, ideas, business or anything you'd like to discuss, contact with me!
      .c-contucts__wrapper
        section.c-contacts__form.c-block__left
          form(action="#" method="GET")
            input(type="text" placeholder="Your name...").c-contacts__form--input 
            input(type="email" placeholder="Your email...").c-contacts__form--input
            input(type="tel" placeholder="Your phone number...").c-contacts__form--input
            textarea(name="#" cols="1" rows="1" placeholder="Your message...").c-contacts__form--input
        section.c-contacts__info.c-block__right
          h3.c-info__title Address 
          p 123 City name, Street, City, Country
          h3.c-info__title Email 
          p cahee@domain.com
          h3.c-info__title Phone
          p +012 345 6789




