mixin footer()
  .c-footer 
    .c-container.wrapper
      .c-footer__wrapper 
        p.c-footer__left &copy; 2015 Company. All right reserved.
        p.c-footer__center Cahee
        p.c-footer__right Made with <span>love</span> by Auskteez




