mixin services()
  section.c-services(id="services")
    .c-container.wrapper
      .c-services__wrapper 
        .c-services__left 
          ul.c-services__list 
            li.c-services__list__item 
              a.e-services__link(href="/") 
                h5.e-services__title Online Shopping
                span.e-services__icon.e-services__icon--cart
            li.c-services__list__item 
              a.e-services__link(href="/") 
                h5.e-services__title Quality Product
                span.e-services__icon.e-services__icon--qualit
            li.c-services__list__item 
              a.e-services__link(href="/") 
                h5.e-services__title Domestic & International Delivery
                span.e-services__icon.e-services__icon--globe
            li.c-services__list__item
              a.e-services__link(href="/") 
                h5.e-services__title Well Organized
                span.e-services__icon.e-services__icon--carrot
        .c-services__right 
          h2.c-services__right-title.c-services__right-title--background Our Services