extends ./src/_extends/common

block title
  title Cahee

block style


block fresh
block header 
  +header()
  +banner()
  +scroll()
block main 
  +about()
  +services()
  +gallery()
  +blog()
  +contact()
  +footer()
