.c-burger {
  position: relative;
}
#burger-menu {
  opacity: 0;

  &:checked ~ .c-burger__button > span {
    transform: rotate(45deg);
    width: 26px;

    &::before {
      display: none;
    }

    &::after {
      top: 0;
      transform: rotate(90deg);
    }
  }

  &:checked ~ .c-navigation {
    display: block;
    right: 0;
  }
}

.c-burger__button {
  align-items: center;
  cursor: pointer;
  display: none;
  height: 26px;
  right: 20px;
  width: 26px;
  z-index: 1;
  top: 20px;

  & > span,
  & > span::before,
  & > span::after {
    background-color: $c-grey-dark;
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
  }

  & > span::before {
    content: " ";
    top: -8px;
  }

  & > span::after {
    content: " ";
    top: 8px;
  }
}
.c-navigation {
  &__list {
    justify-content: space-around;
    list-style: none;
    flex-wrap: wrap;
    display: flex;

    &__item {
      border-top: 3px solid transparent;
      margin-right: 38px;
      font-weight: bold;
      line-height: 25px;
      font-size: 16px;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        border-top: 3px solid $c-orange;
      }
    }
  }
}

@media screen and (max-width: 780px) {
  .c-burger__button {
    display: flex;
  }
  .c-navigation {
    display: none;

    &__list {
      flex-direction: column;
      display: flex;
      z-index: 100;
      top: 50px;
      right: 0;

      &__item {
        width: fit-content;
        display: inline;

        & a {
          color: $c-grey-dark;
          display: inline;
        }
      }
    }
  }

  #burger-menu:checked ~ .c-navigation {
    display: block;
    z-index: 100;
  }
}
